<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label" style="font-size: 20px" ><strong>Email :</strong></span>
          <input type="text" ng-model="loginData.username">
        </label>
        <label class="item item-input">
          <span class="input-label" style="font-size: 20px"><strong>Senha :</strong></span>
          <input type="password" ng-model="loginData.password">
        </label>

        <br>

         <p align="center"><a href="#/app/cadastrar_usuario" class="button button-block button-positive">Entrar </p>
        <p align="center"><a href="#/app/cadastrar_usuario" class="button button-block button-positive">Não sou cadastrado </p>

      </div>
    </form>
  </ion-content>
</ion-modal-view>
